.header{
    height: 90vh;
    width: 99vw;
    margin-bottom: 100px;
    overflow: hidden;
    position: relative;
}

.header img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-data{
    position: absolute;
    top: 200px;
    left: 100px;
    width: 40vw;
}

body{
    background-color: #131313 !important;
    color : white !important;
    overflow-x: hidden;
}

#gradient{
    height: 100vw;
    width: 100vw;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to right , rgb(0,0,0  , 0.7) , transparent);
    z-index: 10;
}

.header-data{
    z-index: 12;
}